@import "tailwindcss";

:root {
  --background: 0 0% 96%;
  --foreground: 240 10% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --card-accent: 35 100% 96%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --primary: 49 100% 52%;
  --primary-foreground: 0 0% 0%;

  --secondary: 0 0% 90%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 0 0% 93%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --table: 0 0% 0%;
  --table-foreground: 0 0% 0%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 85%;
  --input: 0 0% 85%;
  --ring: 240 5.9% 10%;

  --radius: 0;

  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 240 3.8% 46.1%;
  --sidebar-primary: 217.2 91.2% 59.8%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 240 5.9% 90%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  --w3m-font-family: "Telegraf", "Arial", "sans-serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --card: var(--card);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  border-radius: 0 !important;
  box-shadow: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Telegraf", Helvetica, sans-serif;
}

@font-face {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 200;
  src:
    local("Telegraf UltraLight"),
    url("/assets/fonts/telegraf/Telegraf UltraLight 200.woff") format("woff");
}

@font-face {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 400;
  src:
    local("Telegraf Regular"),
    url("/assets/fonts/telegraf/TelegrafRegular_272984568a25d8528fe2de8b20b29011.woff")
      format("woff");
}

@font-face {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 800;
  src:
    local("Telegraf UltraBold"),
    url("/assets/fonts/telegraf/Telegraf UltraBold 800.woff") format("woff");
}
